.img-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.colorblocktop {
  padding-top: 100px;
}
p {
  color: white;
}

.grey-background {
  background-color: #004030;
  height: 200px;
  color: white;
}
.eight.wide.paragraph.column{
  padding-top: 120px;
}

.ui.borderless.topmenu.container.menu {
  border:none;
  box-shadow: none;
}